<header>
  <div class="about">
    <h2>THE CURIOUS CREATIONS OF</h2>
    <h1>TIM HOLMAN</h1>
    
    <p>
      I'm a tinkerer, tuner & tamperer who's been around the block.
    </p>

    <p>
      Give me a buzz:
      <a href="http://twitter.com/twholman">Twitter</a>,
      <a href="http://codepen.io/tholman">CodePen</a>,
      <a href="http://github.com/tholman">Github</a>,
      <a href="https://www.linkedin.com/in/twholman">StinkedIn</a>,
      <a href="http://tinyletter.com/tims-log">Email log</a> &
      <a href="mailto:timothy.w.holman@gmail.com" target="_blank">Email</a>.
    </p>

    <p>
      Some hot creations:<br>
      <a href="http://twitter.com/twholman">The Useless Web</a>,
      <a href="https://www.linkedin.com/in/twholman">Elevator.js</a>,
      <a href="http://github.com/tholman">Github Corners</a>,
      <a href="http://github.com/tholman">Inspiring Online</a> &
      <a href="http://github.com/tholman">ZenPen</a>.
    </p>
  </div>
</header>