<header>
  <div class="about">
    <p>
      <h2>THE CURIOUS CREATIONS OF</h2>
      <h1>TIM HOLMAN</h1>
    </p>
    
    <p>
      I'm a tinkerer, tuner & tamperer who's been around the block.
    </p>

    <p>
      <b>Give me a buzz:</b>
      <a href="http://twitter.com/twholman">Twitter</a>,
      <a href="http://codepen.io/tholman">CodePen</a>,
      <a href="http://github.com/tholman">Github</a>,
      <a href="https://www.linkedin.com/in/twholman">StinkedIn</a>,
      <a href="http://tinyletter.com/tims-log">Email log</a> &
      <a href="mailto:timothy.w.holman@gmail.com" target="_blank">Email</a>.
    </p>

    <p>
      <b>Some filters:</b><br>
      <label for="serious-checkbox"> Serious Stuff </label>
      <input id="serious-checkbox" type="checkbox" checked data-type="serious"><br>
      
      <label for="joke-checkbox"> Jokey Stuff </label>
      <input id="joke-checkbox" type="checkbox" checked data-type="joke"><br>

      <label for="audio-checkbox"> Talks & Podcasts </label>
      <input id="audio-checkbox" type="checkbox" checked data-type="audio">
    </p>
  </div>
</header>