<header>
  <div class="about">
    <p>
      <h2>THE CURIOUS CREATIONS OF</h2>
      <h1>TIM HOLMAN</h1>
    </p>
    
    <p>
      I'm a tinkerer, tuner & tamperer who's been around the block.
    </p>

    <p>
      <b>Give me a buzz:</b>
      <a href="http://twitter.com/twholman">Twitter</a>,
      <a href="http://codepen.io/tholman">CodePen</a>,
      <a href="http://github.com/tholman">Github</a>,
      <a href="https://www.linkedin.com/in/twholman">StinkedIn</a>,
      <a href="http://tinyletter.com/tims-log">Email log</a> &
      <a href="mailto:timothy.w.holman@gmail.com" target="_blank">Email</a>.
    </p>

    <p>
      <b>Some filters:</b><br>
      <i>Serious Stuff </i><input type="checkbox" checked><br>
      <i>Jokey Stuff </i><input type="checkbox" checked><br>
      <i>Audio & Video </i><input type="checkbox" checked>
    </p>
  </div>
</header>