.i-dont-know-what-i-expected {
  display: none;
  padding-left: 210px;
  text-align: center;
  color: #888;
  margin-top: 31vh;
}

.no-serious.no-audio.no-joke {
  .i-dont-know-what-i-expected {
    display: block;
  }
}
