h1 {
  font-size: 20px;
}

em {
  color: #666;
}

p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 25px;
}

blockquote {
  margin-left: 0px;
  border-left: 3px solid palevioletred;
  padding-left: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}
