---
---

<!doctype html>
<html>

  <head>
    <title>Tims</title>
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="" href="">
    <meta name="description" content="An open source blog for inspiring and creative online work!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <section class="wrapper">
      <div class="content">
        {% include header.html %}
        {{content}}
      </div>
    </section>
  </body>

</html>
