---
---

<!doctype html>
<html>

  <head>
    <title>The Curious Creations of Tim Holman</title>
    <meta name="description" content="Welcome to the wide weird world of Tim Holman, this is the stuff he's made, and a little about how it was done.">
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <section class="wrapper">
      <div class="content">
        {% include header.html %}
        {{content}}
      </div>
    </section>

    <script type="text/javascript" src="/js/filters.js"></script>
  </body>

</html>
