---
---

<!doctype html>
<html>

  <head>
    <title>{{page.title}} ~ Tims Curious Creations</title>
    <meta name="description" content="Welcome to the wide weird world of Tim Holman, this is the stuff he's made, and a little about how it was done.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="RSS for tholman.com" href="/feed.xml" />
  </head>

  <body>
    <section class="wrapper">
      <div class="content">
        {% include header.html filters=false %}
        
        <article>
          <h1>{{page.title}}</h1>
          {{content}}
        </article>
        
    </section>

    <script type="text/javascript" src="/js/index.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22825241-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-22825241-1');
    </script>

  </body>

</html>
